body{
    font-family: 'Enriqueta', serif;
    text-align: center;  
    box-sizing: border-box;
    background-image: url(image2\(background\).jpg);
    background-size: 100%;
}
.nav_links {
    display: flex;
    position: fixed;
    text-decoration: none;
    font-size: 20px; 
    background-color: orange;
}
nav a{
    display: flex;
    justify-content: space-evenly;
    width: 420px;
    padding: 15px;
}
nav a:link, a:visited{
    text-decoration: none;
    color: white;
    filter: drop-shadow(6px 5px 5px black)
}
#animeimg{
    width: 1100px;
    height: auto;
    max-height: 90%;
    max-width: 90%;
}
#fig1{
    font-size: 65px;
}
p{
    font-size: 20px;
}
#animeform{
    color: blue;
    text-decoration: none;
}